

$primary-color:                     #ff8000;
$secondary-color:                   #8000ff;

$color-light-orange:                #e56634;
$color-light-purple:                #c9496d;    
$principal-color-gradient:          linear-gradient(-225deg, $primary-color 0%, $color-light-orange 15%, $color-light-purple 40%, $secondary-color 70%);