@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$primary-color:                     #ff8000;
$secondary-color:                   #8000ff;

$color-white:                       #fff;
$color-dark:                        #343434;
$color-light-orange:                #e56634;
$color-light-purple:                #c9496d;
$principal-color-gradient:          linear-gradient(-225deg, $primary-color 0%, $color-light-orange 15%, $color-light-purple 40%, $secondary-color 70%);

$font-family-base:                  'Open sans', sans-serif;

/* FONT WEIGHT */

$font-weight-light:                 300;
$font-weight-regular:               400;
$font-weight-semi-bold:             600;
$font-weight-bold:                  700;

/* FONT SIZE */

$font-size-tiny:                    0.625rem;   //10px
$font-size-small:                   0.75rem;    //12px
$font-size-base:                    1rem;       //16px
$font-size-medium:                  1.125rem;   //18px
$font-size-large:                   1.25rem;    //20px
$font-size-extra:                   1.375rem;   //22px

/* PADDINGS AND MARGINS */

$distance-tiny:                     0.3125rem;  //5px
$distance-wee:                      0.625rem;   //10px
$distance-small:                    0.9375rem;  //15px
$distance-base:                     1.25rem;    //20px
$distance-medium:                   1.5625rem;  //25px
$distance-large:                    1.875rem;   //30px
$distance-extra:                    2.5rem;     //40px
$distance-ultra:                    3.125rem;   //50px

/* TRANSITIONS */

$transition-duration:               0.25s;
$transition-duration-slow:          0.60s;

/* MIXINS */

@mixin normalizeFont($size, $weight, $color) {
  text-decoration: none;
  font-family: $font-family-base;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
