@import '../styles/variables.scss';

.hero-title-wrapper {
  justify-content: flex-end;
  text-align: right;
  display: flex;
  margin: auto 0;
}

.warning-label {
  @include normalizeFont($font-size-large,$font-weight-bold,$color-white);
}
