@import '../../styles/variables.scss';

.header {
    justify-content: space-around;
    transition: $transition-duration-slow all;
    position: fixed;
    display: inline-flex;
    height: 100px;
    width: 100%;

    .header-brand {
      display: inline-flex;
      margin: auto 0;

      img {
        margin: 0 $distance-wee;
      }

      .header-brand-title {
        @include normalizeFont($font-size-large,$font-weight-regular,$color-white);
        padding: 0 $distance-wee;
        margin: auto 0;
        border-left: 1px solid $color-white;
      }
    }
}

.header-moved {
  background-color: $color-dark-low-opacity;
  height: 70px;
}
