@import '../../styles/variables.scss';

.call-button {
  @include normalizeFont($font-size-large,$font-weight-bold,$color-white);
  text-transform: uppercase;
  border-radius: 20px;
  transition: $transition-duration;
  padding: $distance-tiny $distance-base;
  margin: auto 0;
  border: 1px solid $color-white;

  &:hover {
    background-color: $color-white;
    color: $secondary-color;
  }
}
